* {
  box-sizing: border-box;
}
:root {
  --primary-color: #ffb900;
  --font-heading: "Sen", sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* common */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp.line-2 {
  --line-clamp: 2;
}
.line-clamp.line-4 {
  --line-clamp: 4;
}
.word-break-all {
  word-break: break-all;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
.heading {
  color: #171100;
  font-family: var(--font-heading);
  font-weight: 700;
  letter-spacing: -1.16px;
}
.heading.lv1 {
  font-size: 5.8rem;
  line-height: 1.17; /* 117.241% */
}
.heading.lv2 {
  font-size: 3.8rem;
  line-height: 1.26;
}
.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  color: #ffffff;
  background: #171100;
  border-radius: 24.5px;
}
.btn:hover {
  opacity: 0.7;
}
/* Header */
.header {
  background-color: #fffcf4;
}
.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}
.header .body-header {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.navbar {
  margin-left: auto;
  margin-right: 49px;
}
.navbar > ul {
  display: flex;
}
.navbar a {
  position: relative;
  padding: 8px 21px;
  color: #5f5b53;
  font-size: 1.6rem;
}
.navbar li:hover,
.navbar li.active a {
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}

.navbar li.active a::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 6px;
  left: 21px;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.body-header .btn-sign-up {
  font-size: 1.6rem;
  min-width: 144px;
}

/* Hero */

.hero {
  padding: 56px 0 65px;
  background-color: #fffcf4;
}

.hero .body-hero {
  display: flex;
}
/* left hero */
.hero .media-block {
  width: 48%;
}
.media-block {
  position: relative;
}
.media-block > img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
  display: block;
}

.media-block .hero-summary {
  position: absolute;
  right: 0;
  bottom: 48px;
  width: 270px;
  height: 244px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}
.hero-summary .items {
  display: flex;
  align-items: center;
}

.hero-summary .items:nth-child(1) {
  margin: 24px 0 0 24px;
}

.hero-summary .items:nth-child(2) {
  margin: 14px 0 0 24px;
}
.hero-summary .items:nth-child(3) {
  margin: 14px 0 0 24px;
}
.hero-summary .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  margin-right: 16px;
  background-color: #fff9e8;
  border-radius: 50%;
}
.hero-summary .icon > img {
  height: 24px;
  width: 24px;
}
.hero-summary .info .lable {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85; /* 185.714% */
}
.hero-summary .info .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66; /* 166.667% */
}

/* right hero */

.hero .content-block {
  width: 52%;
  padding: 56px 0 0 130px;
}

.hero .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.66; /* 166.667% */
}
.hero .detail-courses {
  margin-top: 38px;
}
.hero .cta-group {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.hero .btn-see-more {
  width: 180px;
  line-height: 64px;
  border-radius: 32px;
  background-color: var(--primary-color);
  font-size: 1.8rem;
}
.hero .watch-video {
  display: flex;
  align-items: center;
  margin-left: 28px;
  background: none;
  border: none;
  cursor: pointer;
}
.hero .watch-video .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}
.hero .watch-video span {
  margin-left: 14px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
  text-align: left;
}
.hero .stats {
  margin-top: 8px;
}
.hero .stats strong {
  padding-right: 8px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.22; /* 122.727% */
}
.hero .stats strong:last-child {
  margin-left: 28px;
}

/* Popular */
.popular {
  padding: 65px 0;
  margin-top: 135px;
}
.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66; /* 166.667% */
}
.popular .popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular .control {
  display: flex;
  gap: 18px;
}
.popular .control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  color: var(--primary-color);
  background-color: transparent;
}
.popular .control-btn:hover {
  color: #fff;
  background-color: var(--primary-color);
  cursor: pointer;
}

.popular .course-list {
  display: flex;
  gap: 30px;
  margin-top: 55px;
}
.popular .course-item {
  flex: 1;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}
.popular .course-item:hover {
  border: 1px solid #fff;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}
.popular .course-item .thumb {
  width: calc(100% + 2px);
  margin: -1px;
  height: 278px;
  border-radius: 12px 12px 0px 0px;
  object-fit: cover;
}
.popular .info {
  padding: 16px 22px 22px 22px;
}
.popular .head,
.popular .foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular .course-item .title a {
  color: #171100;
  padding-right: 6px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66; /* 166.667% */
}
.popular .course-item .value {
  color: var(--primary-color);
}
.popular .course-item .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85; /* 185.714% */
}
.popular .foot {
  margin-top: 12px;
}
.popular .foot .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.6; /* 166.667% */
}
.popular .btn-book-now {
  border: none;
}
.popular .btn-book-now:hover {
  background-color: var(--primary-color);
  color: #fff;
}

/* Feedback */
.feedback {
  margin-top: 135px;
  padding: 96px 0;
  background: #2e2100;
}
.feedback .feedback-list {
  display: flex;
  overflow: hidden;
}
.feedback .feedback-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-shrink: 0;
}
.feedback .avatar {
  height: 72px;
  width: 72px;
  border-radius: 50%;
  object-fit: cover;
}
.feedback .feedback-item .title {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: "Sen";
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.41; /* 141.667% */
}
.feedback .feedback-item .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85; /* 185.714% */
}

.feedback .dot {
  display: inline-block;
  margin-top: 28px;
  padding-left: 6px;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: #634700;
  cursor: pointer;
}
.feedback .dot.active {
  background-color: var(--primary-color);
  cursor: default;
}
.feedback .content {
  width: 63.2%;
}
.feedback .content .quotes {
  margin-left: 30px;
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.53; /* 153.846% */
}
/* Feature */
.feature {
  margin-top: 200px;
}
.feature .body {
  display: flex;
  justify-content: space-between;
}
.feature .images {
  display: flex;
}
.feature .images img {
  width: 270px;
  height: 404px;
  border-radius: 16px;
  object-fit: cover;
}
.feature .body .feature-img1 {
  margin: 34px 30px 0 0;
}
.feature .content {
  width: 41%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.feature .btn-sign-up {
  margin-top: 32px;
  width: 137px;
  border-radius: 26px;
  background: var(--primary-color);
}

.feature-2 .content {
  width: 48.7%;
  margin-top: 71px;
  justify-content: normal;
}
.feature-2 .images img {
  width: 470px;
  height: 440px;
}
/* Blog */
.blog {
  margin-top: 200px;
  padding: 96px 0;
  background: #fffcf4;
}
.blog .top-blog {
  text-align: center;
  margin: 0 auto;
  width: 448px;
}
.blog .desc {
  margin-top: 16px;
  color: #696262;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}
.blog .blog-list {
  display: flex;
  margin-top: 55px;
  gap: 30px;
  overflow: hidden;
}
.blog .item {
  width: calc(33.3% - 20px);
  flex-shrink: 0;
}
.blog .item .thumb {
  width: 100%;
  height: 250px;
  border-radius: 16px 16px 0px 0px;
  object-fit: cover;
}
.blog .info {
  padding: 20px 20px 28px;
  background: #fff;
  border-radius: 0 0 16px 16px;
}
.blog .info:hover {
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.blog .info .date {
  position: relative;
  display: flex;
  padding-bottom: 12px;
  align-items: center;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.85; /* 185.714% */
}
.blog .info .date::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 4px;
  background-color: var(--primary-color);
  border-radius: 50%;
}
.blog .info .date::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 160px;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
}
.blog .info .title a {
  margin-top: 12px;
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
}
.blog .info .btn-read-more {
  margin-top: 12px;
}
.blog .info .btn-read-more:hover {
  background-color: var(--primary-color);
}
.blog .dots {
  display: flex;
  justify-content: center;
  margin-top: 38px;
  gap: 6px;
}
.blog .dots .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #5f5b53;
  cursor: pointer;
}
.blog .dots .dot.active {
  background-color: var(--primary-color);
  cursor: default;
}
/* Footer */
.footer {
  padding: 96px 0 28px;
  background: #2e2100;
}
.footer .row {
  display: flex;
  border-bottom: 1px solid #59554b;
  padding-bottom: 38px;
}
.footer .row .colum {
  width: 20.7%;
}
.footer .row .colum:first-child {
  width: 35%;
}
.footer .desc {
  margin-top: 18px;
  max-width: 267px;
  font-size: 1.4rem;
  line-height: 1.85; /* 185.714% */
  color: #bfbcb2;
}
.footer .list-icon {
  margin-top: 18px;
  display: flex;
  gap: 18px;
}
.heading.lv3 {
  display: inline-block;
  border-bottom: 1px solid #59554b;
  padding: 0 48px 14px 0;
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}
.footer .list {
  margin-top: 28px;
}
.footer .list li {
  margin-top: 12px;
}
.footer .list li:first-child {
  margin-top: -12px;
}
.footer .list li a {
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.85; /* 185.714% */
}

.footer .list strong {
  font-weight: 600;
  color: #ffffff;
}
.footer .copyright {
  padding-top: 28px;
}
.footer .copyright p {
  color: #807d74;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.85; /* 185.714% */
}
